# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Zip files and temporary files
*.zip
*.log

# Operating System & IDE metadata
.DS_Store
Thumbs.db
.vscode/
.idea/
